<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Data Product In</h5>
                <table>
                <% if (prductsIn.length > 0) { %>
                        <tr>
                            <td>Date</td>
                            <td>Total</td>
                            <td>ProcutId</td>
                        </tr>
                    <% prductsIn.forEach(prduct => {%>
                       <tr>
                           <td><%= prduct.date %></td>
                           <td><%= prduct.total %></td>
                           <td><%= prduct.ProductId %></td> 
                      </tr>
                    <%  });%>
                <% }%>
                </table>
             </div>         
        </div>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Data Product Out</h5>
                <table>
                <% if (prductsOut.length > 0) { %>
                        <tr>
                            <td>Date</td>
                            <td>Total</td>
                            <td>ProcutId</td>
                        </tr>
                    <% prductsOut.forEach(prduct => {%>
                       <tr>
                           <td><%= prduct.date %></td>
                           <td><%= prduct.total %></td>
                           <td><%= prduct.ProductId %></td>
                      </tr>
                    <%  });%>
                <% }%>
                </table>
             </div>         
        </div>
    </body>
</html>